{% extends "base.html"%}
{% load static %}
{% block content%}

<section class="hero" id="home">
                <img class="hero-image" src="{% static 'images/background.png' %}" alt="roj">
                <div class="hero-title">
                    <h1>OPTICS</h1>
                    <h2>Jicamarca Radio Observatory</h2>
                </div>
</section>
<section class="about-us">
            <div class="about-text">
                <h3>
                    About Us
                </h3>
                <p class="about-description">
                    The Optical Instrumentation Department of the Jicamarca Radio Observatory is part of CIELO or Cluster of Instruments for
                    Equatorial and Low-Latitude Observations.
                </p>
                <p class="about-description">
                    Under the watch of this team, there are Fabry Perot Interferometers and Allsky Imagers from different institutions such
                    us Clemson University, University of Illinois at Urbana Champaign, Boston University and the New Jersey Institute of
                    Technology.
                </p>
            </div>
            <div class="about-image">
                <img src="{% static 'images/red_fpi.png' %}" alt="map-fpi">
            </div>
</section>
<section class="instruments" id="instruments">
            <h3>Instruments</h3>
            <div class="intruments-container">
                <span><</span>
                    <div class="item">
                        <figure>
                        <img src="{% static 'images/instrument.png' %}" alt="instruments">
                        <span>FPI</span>
                        </figure>
                        <div class="instrument-footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis odio enim, sed varius massa auctor et.</p>
                        </div>
                    </div>
                    <div class="item">
                        <figure>
                        <img src="{% static 'images/instrument.png' %}" alt="instruments">
                        <span>FPI</span>
                        </figure>
                        <div class="instrument-footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis odio enim, sed varius massa auctor et.</p>
                        </div>
                    </div>
                    <div class="item">
                        <figure>
                        <img src="{% static 'images/instrument.png' %}" alt="instruments">
                        <span>FPI</span>
                        </figure>
                        <div class="instrument-footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis odio enim, sed varius massa auctor et.</p>
                        </div>
                    </div>
                <span>></span>
            </div>
</section>
<section class="database" id="database">
            <h3>Database</h3>
            <div class="database-container">
                <div class="column-database column-type">
                    <h4>Instrument Type</h4>
                    <a href="#" class="button">All Sky Imager</a>
                    <a href="#" class="button">FPI</a>
                </div>
                <div class="column-database column-instrument">
                    <h4>Instrument</h4>
                    <a href="#" class="button">MRH</a>
                    <a href="#" class="button">A3O</a>
                    <a href="#" class="button">NZK</a>
                </div>
                <div class="column-database column-date">
                    <h4>Date</h4>
                    <form action="#">
                        <div class="label">
                        <label for="range">Range:</label>
                        <input type="checkbox" name="range" id="range">
                        </div>
                        <div class="label">
                            <label for="from">From:</label>
                            <input type="date" name="from" id="from">
                        </div>
                        <div class="label">
                            <label for="to">To:</label>
                            <input type="date" name="to" id="to">
                        </div>
                        <input type="button" value="Search Data" class="search-data">
                    </form>
                </div>
                <div class="show-results column-results">
                    <p>Data available <span>Show Results</span></p>
                </div>
            </div>
</section>
<section class="contact" id="contact">
            <h3>
                Contact Us
            </h3>
            <div class="contact-content">
                <div class="sitemap">
                    <h4>
                        Site Map
                    </h4>
                    <ol>
                        <li><a href="#">Home</a></li>
                        <li><a href="#instruments">Instrument</a></li>
                        <li><a href="#database">Database</a></li>
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ol>
                </div>
                <div class="socialmedia">
                    <h4>
                        Social Media
                    </h4>
                    <div class="socialsection">
                        <p><img class="img-fb" src="{% static 'images/fb.png' %}" alt="fb"><img src="{% static 'images/tt.png' %}"" alt="tt"><img src="{% static 'images/yt.png' %}" alt="yt"></p>
                        <p class="contact-adress">Calle Badajoz N° 169 Urb. Mayorazgo IV Etapa <br>
                        Ate, Lima 15012 - Perú. <br>
                        (51) 13172300</p>
                    </div>
                </div>
                <div class="mailing">
                    <form action="#" method="POST">
                        <input type="email" name="email" id="email" placeholder="E-mail">
                        <input type="text" name="message" id="message" placeholder="Message">
                        <input type="button" value="Submit" id="contact-submit">
                    </form>
                </div>
            </div>
</section>

{% endblock%}

{%block script%}
    <script>
        window.onscroll = function () { myFunction() };

        function myFunction() {
            if (document.documentElement.scrollTop > 50) {
                document.getElementById("header").classList.add("header-activate");
            } else {
                document.getElementById("header").classList.remove("header-activate");
            }
            console.log(document.documentElement.scrollTop)
            console.log(document.documentElement.scrollTop > 50)
        }
    </script>
{% endblock %}

