<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optics ROJ</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
</head>
<body id="body">
    <header class="header header-extra" id="header">
        <figure class="logo">
            <img src="images/IGP.png" alt="igp">
        </figure>
        <nav class="menu">
            <ol>
                <li class="link">
                    <a href="#home">Home</a>
                </li>
                <li class="link">
                    <a href="#instruments">Instruments</a>
                </li>
                <li class="link">
                    <a href="#database">Database</a>
                </li>
                <li class="link menu-contact">
                    <a href="#contact">Contact Us</a>
                </li>
            </ol>
            <strong class="separation">
                    |
            </strong>
            <a href="#" class="login-button">
                Login
            </a>
        </nav>
    </header>
    <section class="instrument">
        <h2>
            Instrument Name
        </h2>
        <div class="container-results">
            <h3>User Manual</h3>
            <div class="usermanual-grid">
                <img src="images/user.png" alt="usermanual">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis odio enim, sed varius massa auctor et. Ut dictum
                    neque a erat iaculis, id facilisis erat hendrerit. Nam tortor nisi, mollis a volutpat in, sodales ut magna. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Cras facilisis odio enim, sed varius massa auctor et. Ut dictum neque a
                    erat iaculis, id facilisis erat hendrerit. Nam tortor nisi, mollis a volutpat in, sodales ut magna. Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit. 
                    <a href="#">Download Manual</a>
                </p>
            </div>
        </div>
        <div class="container-results">
            <h3>
                Information
            </h3>
            <p>
                - Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                - Cras facilisis odio enim, sed varius massa auctor et. Ut . <br>
                - dictum neque a erat iaculis, id facilisis erat hendrerit. <br>
            </p>
            <h3>
                Products
            </h3>
               <div class="product-list">
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
                   </div>
                   <div class="product-container">
                       <img src="images/product.png" alt="product">
                        <p>Data_x_experiment.img</p>
               </div>
            </div>
        </div>
    </section>
    <footer class="footer" id="footer">
        <p class="quote">Instituto Geofísico del Perú, Ciencia para protegernos, ciencia para avanzar.</p>
        <p class="copyright">Copyright Jicamarca Radio Observatory</p>
    </footer>
</body>
</html>