<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optics ROJ</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
</head>
<body>
    <header class="header">
        <figure class="logo">
            <img src="images/igp.png" alt="igp">
        </figure>
        <nav class="menu">
            <ol>
                <li class="link">
                    <a href="#home">Home</a>
                </li>
                <li class="link">
                    <a href="#instruments">Instruments</a>
                </li>
                <li class="link">
                    <a href="#database">Database</a>
                </li>
                <li class="link">
                    <a href="#contact">Contact Us</a>
                </li>
            </ol>
            <span class="link">
                <strong class="separation">
                    |
                </strong>
            </span>
            <span class="login link">
                Login
            </span>
        </nav>
    </header>
    <div class="content">
       <section class="login-content">
            <h2>Sign in</h2>
            <form action="#" method="POST">
                <input type="email" name="email" id="email-login" placeholder="E-mail">
                <input type="password" name="password" id="password-login" placeholder="********">
                <input type="button" value="Login">
            </form> 
       </section>
    </div>
    <section class="contact">
        <h3>
            Contact Us
        </h3>
        <div class="contact-content">
            <div class="sitemap">
                <h4>
                    Site Map
                </h4>
                <ol>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Instrument</a></li>
                    <li><a href="#">Database</a></li>
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Sign up</a></li>
                </ol>
            </div>
            <div class="socialmedia">
                <h4>
                    Social Media
                </h4>
                <div class="socialsection">
                    <p><span>FB</span><span>Youtube</span><span>Twitter</span></p>
                    <p>Adress</p>
                </div>
            </div>
            <div class="mailing">
                <form action="#" method="POST">
                    <input type="email" name="email" id="email" placeholder="E-mail">
                    <input type="text" name="message" id="message" placeholder="Message">
                    <input type="button" value="Submit">
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p class="quote">Instituto Geofísico del Perú, Ciencia para protegernos, ciencia para avanzar.</p>
        <p class="copyright">Copyright Jicamarca Radio Observatory</p>
    </footer>
</body>
</html>